<section class="section mb-3" id="about">
    <h1 class="section-heading text-center mb-5 mt-4 black-text wow fadeIn" data-wow-delay="0.2s">About Me</h1>

<div class="row wow FadeIn" data-wow-delay="0.4s">
    <div class="col-md-12 pb-5 text-center black-text">
        <p class="lead mb-4">My name is Dipen tank, I'm a photographer.</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quas quis neque rerum quibusdam molestiae adipisci temporibus iure voluptate.
            Sequi quaerat odit temporibus assumenda eligendi eum fugiat? Aperiam explicabo, maiores,
            nam natus dolorum cum ipsum inventore dignissimos iste aliquid debitis assumenda dolore,
            voluptates molestiae fugiat pariatur minus repellat cumque accusamus! Fuga!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium sint ipsa sapiente, 
            consequuntur laboriosam exercitationem tempore illo aliquid eaque suscipit totam beatae temporibus 
            debitis quae voluptatum blanditiis doloremque earum.</p>
    </div>
</div>


</section>