<header>
<div class="view jarallax" data-jarallax='{"speed":0.2}'
 style="background-image:url('https://cdn.pixabay.com/photo/2020/07/11/13/35/heron-5394026_960_720.jpg');
 
 background-repeat:no-repeat;
 background-size:cover;
 background-position: center center;
 min-height: 800px;">
    <div class="mask rgba-black-strong">
        <div class="container h-100 d-flex justify-content-center allign-items-center">
            <div class="row smooth-scroll">
                <div class="col-md-12">
                    <div class="white-text text-center">
                        <h2 class="display-3 font-weight-bold pb-4 mb-2 wow fadeIn">Dipen Clicks</h2>
                        <h3 class="intro-subtext wow fadeIn" data-wow-delay="0.2s">~Photographer</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>